mat-grid-tile {
  background: lightblue;
}

.example-card {
  max-width: 400px;
}

.mat-card-image {
  background-size: cover;
  max-width: 330px;
  max-height: 180px;
}

.news-container {
  border: solid black;
}

mat-card {
  text-align: -webkit-center;
}

::ng-deep .mat-grid-tile-content {
  align-items: self-start!important;
}
