<div class="container">
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile colspan="2" rowspan="2">
      <app-search (weatherInformation)="shareWeatherInformation($event)" (newsInformation)="renderNews($event)"></app-search>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
      <app-weather-details [weatherInformation]="weatherInformation"></app-weather-details>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="4" *ngFor="let article of newsInformation">
      <div class="news-container" *ngIf="thereAreNews">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{article.title}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="article.media">
          <mat-card-content>
            <p>
              {{article.summary}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

