<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>{{weatherInformation?.location?.name}}'s weather</mat-card-title>
    <mat-card-subtitle>last update: {{weatherInformation?.last_updated | date:'medium' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex-row">
      <div class="temp">
        <span class="big-text">{{weatherInformation?.temp_c | number:'0.0-0'}} °C</span>
        <span>Feels like </span>
        <span>{{weatherInformation?.feelslike_c | number: '0.0-0'}} °C</span>
      </div>
      <div class="outlook">
        <span>{{weatherInformation?.condition?.text}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
